extends ./layout/index

block contenido
    main.container.mt-5
        .row  
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1=pagina 
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, enim eius non rerum ex blanditiis, aperiam sit at reiciendis dolore, facilis totam nam minima. Facilis beatae quia repudiandae magni cumque?Dolores eum cumque consequatur cum dignissimos esse laudantium nobis quaerat atque repudiandae ullam enim repellat deleniti expedita, quasi totam laboriosam ipsa alias magni ea similique inventore placeat! Officiis, labore sint.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita adipisci aut voluptas corporis veritatis ex cupiditate saepe similique aliquid ut aliquam, eveniet, asperiores quis cumque. Voluptatum laboriosam quia dignissimos nisi.Necessitatibus, dolores ea! 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repellendus dolorem ad minus ipsum vitae dicta veniam unde sit alias expedita voluptatem, quos doloremque officiis rem, facere laboriosam dolores aspernatur?Sint consequatur commodi dolore eius. Molestias commodi fuga assumenda illo voluptate blanditiis consectetur minima accusamus provident quas! Dicta vitae, hic facilis asperiores perspiciatis sint nobis? Corporis accusantium odio fugit vero?Nisi eos quia quasi maiores impedit architecto quos, reiciendis voluptas sapiente, quam et corporis voluptatem temporibus autem exercitationem dignissimos quo beatae ea? Ex rem molestiae perferendis possimus fuga voluptatum necessitatibus!
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="Img seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum debitis iusto qui dolorem nulla consequatur eligendi eaque impedit magnam dignissimos temporibus atque, suscipit similique repellat? Facilis eius ipsam maiores doloremque?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Img destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum debitis iusto qui dolorem nulla consequatur eligendi eaque impedit magnam dignissimos temporibus atque, suscipit similique repellat? Facilis eius ipsam maiores doloremque?
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="Img precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum debitis iusto qui dolorem nulla consequatur eligendi eaque impedit magnam dignissimos temporibus atque, suscipit similique repellat? Facilis eius ipsam maiores doloremque?