.row.testimoniales
                each testimoneal in testimoneales 
                    .col-md-6.col-lg-4.mb-4
                        .card 
                            .card-body 
                                blockquote.blockquote 
                                p.mb-0 
                                    | #{testimoneal.mensaje}
                                footer.blockquote-footer    
                                    | #{testimoneal.nombre}